<div class="layout-fill layout-align-center-center layout-column">
  <md-toolbar layout="column" class="md-small md-hue-2">
    <section class="no-print" layout-align="end center" layout-padding flex style="padding-left: 70%;">
      <div layout="row" layout-align="start center" flex>
        <md-button class="add-button" ng-click="openNewProductForm()"> + Add New Product </md-button>
        <md-button class="delete-button" ng-click="doBulkDelete()"> - Bulk Delete</md-button>
      </div>
    </section>
  </md-toolbar>
  <h1 class="md-toolbar-tools" style="padding-left: 20%;">Product List</h1>
  <md-table headers="headers" contents="contents" pagination="true" page-count="pageItems" action="true"
    on-action="doDelete(selectedContent, $event)" selection="true" on-search="doSearch(productName)"
    on-select="selectOperation(checked, selectedContent)" filter="filterValue">
  </md-table>
</div>